.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #F2F2FF;
    background-image: url('../../assets/bk.svg'); 
    background-repeat:repeat-x;
background-size: 80%;
    background-position: center;
  }

  .signup-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
  
    text-align: center;
    width: 450px;
    height: 550px;

    position: relative;
  }
  .signup-button.google {
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
color: #484661;
    padding: 5px;
    font-size: 15px; 
  display: flex;
justify-content: flex-start;
padding-left: 13px;
font-weight: 6500;
}
.signup-button.google div {
  text-transform: none;
}
.signup-button.outlook div {
  text-transform: none;
}
  .signup-button.outlook {
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    color: #484661;
    padding: 5px; 
    font-size: 15px;  
  display: flex;
justify-content: flex-start;
padding-left: 13px;
margin-top: 20px;
margin-bottom: 20px;
  }
  .or{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #888;
  width: 100%;
  margin-left: 50px;
    font-size: 0.9rem;
    margin-top: 300px;

  }
  .signup-heading {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .signupheading {
    font-size: 13px;
    font-weight: 400;
    color: #888;
    display: flex;
    justify-content: flex-start;
margin-top: 13px;
 
  
  }
  .signupsubheading {
    font-size: 13px;
    font-weight: 400;
    color: #888;
  display: flex;
  justify-content: flex-start;
  
    margin-bottom: 2rem;
  
  }
        
  .signup-title{
    color: rgba(69, 69, 206, 0.825);

    align-items: center;
    justify-content: center;
  }
  .signup-icon-atmoic{
    display: flex;
    justify-self: start;
     
  }
  .signuptitle{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bolder;
  }
  .signupicon{
    display: flex;
    justify-content: flex-start;
  }
  .email{
    padding: 10px;
    border: 1px solid black;
  }
  .submit{
    background-color: #49C792;
  }
  .already-account{
    color: #71707E; 
  }
  .login-link{
    color: black;
    margin-left: 3px;
    font-size: 14px;
    font-weight: 600;
  }